<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="THLab03 - Bài tập"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.THLab03">

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".Baitap1Activity"
            android:exported="false"
            android:label="Bài 1 - Khóa xoay" />

        <activity
            android:name=".Baitap2Activity"
            android:exported="false"
            android:label="Bài 2 - Đa ngôn ngữ"
            android:configChanges="locale|layoutDirection" />

    </application>

</manifest>